<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="utf-8">
		<title>Première version de bataille navale</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
  
  
	<body>
    
	<h1>Bataille navale</h1>	

	<p>Cliquez sur les cases pour tirer sur le bateaux... Essayez de tous les faire couler :3</p>

    
  <div id="tableaux">
    <div id="board" class="table">
    Activez JavaScript pour jouer.
	  </div>

    <div id="board2" class="table">
    Activez JavaScript pour jouer.
	  </div>
  </div>  
	
    <p>
      
    </p>
	
	<script type="text/javascript" src="bataille.js"></script>
	</body>
  
</html>
