<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Première version de bataille navale</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  
  <body>
    <div class="form-style-10">
    <h1>Sign Up Now!<span>Sign up and tell us what you think of the site!</span></h1>
    <form action="/save" method="post" >
            <div class="section"><span>1</span>First Name & Address</div>
             <div class="inner-wrap">
                   
                      <label>Your Full Name <input type="text" name="fullname" class="form-control" placeholder="Full Name" required> </label>
                   </div>
                   <div class="section"><span>1</span>First Name & Address</div>
             <div class="inner-wrap">
                   
                      <label>Your username
                       <input type="text" name="username" class="form-control" placeholder="username" required></label>
                   </div>
                   <div class="section"><span>1</span>First Name & Address</div>
             <div class="inner-wrap">
                   
                      <label>Your mail
                       <input type="email" name="email" class="form-control" placeholder="Email" required></label>
                   </div>
                    <div class="section"><span>3</span>Passwords</div>
                        <div class="inner-wrap">
                        <label>Password <input type="password" name="password" required/></label>
                        <label>Confirm Password <input type="password" name="password2" required/></label>
                    </div>
                 </div>
                 <div class="button-section">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                   <button type="submit" class="btn btn-primary">S'inscrire</button>
                 </div>
               </div>
             </div>
            </div>
       </form>
     </div>
    </body>
  
</html>